<%@ Master Language="VB" AutoEventWireup="false" %>

<%@ Register Assembly="VisualEvolutionLibrary" Namespace="Icr.Evolution.VisualEvolutionLibrary"
    TagPrefix="evo" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<%
    Response.CacheControl = "No-Cache"
    Response.AddHeader("Pragma", "No-Cache")
    Response.Expires = 0
 %>

<html xmlns="http://www.w3.org/1999/xhtml" >

<head id="Head1" runat="server">
    <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>  

    <link rel="Stylesheet" type="text/css" href="Resources/css/Script.css" />
    <link rel="Stylesheet" type="text/css" href="Resources/css/Basico.css" />
    <link rel="Stylesheet" type="text/css" href="Resources/css/bootstrap.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/JavaScript" src="Resources/js/agentapi.js"></script>
    <script type="text/javascript">
        agentapi.AgentAppType = "<%=AgentApp.AgentAppType%>";
        agentapi.WebAgentAuthToken = "<%=AgentApp.WebAgentAuthToken%>";
        agentapi.WebAgentServiceUrl = "<%=AgentApp.WebAgentServiceUrl%>";
    </script>

    <script type="text/javascript">
        function Transferencia_EPS() {
        agentapi.FastTransferActiveCall('6067');
        }
        function Transferencia_Encuesta() {
        agentapi.FastTransferActiveCall('6043');
        }



    </script>

    <asp:ContentPlaceHolder ID="HeadContent" runat="server" />

    <style type="text/css">
    </style>

</head>

<body bgcolor="#28a745">

<%
    Dim time As DateTime = DateTime.Now
    Dim format As String = "\Fec\ha: dd-MM-yyyy - \Hora: HH:mm"
    Dim sImagen As String = "fas fa-phone"
    Dim sImagenTitulo As String = "Canal telefonico"
    
     
    %>	
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ed7203 ;">
            <a class="navbar-brand" href="SeleccionarCallBack.aspx" style="background-color: #ed7203">
                <img style="position:relative; width: 80px;" 
            src="https://asertis.com.co/wp-content/uploads/2021/03/logo-asertis-blanco.png" 
            alt="Asertis">
            </a>
              <div class="collapse navbar-collapse" id="Div1">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <span style="color: #FFFFFF; padding: 10px;  font-weight: bold;">Campaña: <%= EvoAPI.Campaign.Name%></span> 
                      </li>
                      <li class="nav-item">
                        <span style="color: #FFFFFF; padding: 10px;  font-weight: bold;">Agente: <%= EvoAPI.Agent.Name%>&nbsp;<%= EvoAPI.Agent.SecondName%>&nbsp;<%= EvoAPI.Agent.LastName%></span> 
                      </li>
                      <li class="nav-item">
                        <span style="color: #FFFFFF; padding: 10px;  font-weight: bold;">Transaccion:&nbsp;<%= EvoAPI.Transaction.TransactionId%></span> 
                      </li>
                      
                      <li class="nav-item">
                        <span style="color: #FFFFFF; padding: 10px;  font-weight: bold;"><%= time.ToString(format) %></span> 
                      </li>

                    </ul>
             </div>

        </nav>
         </div>
         <br />
        
    <form id="form1" runat="server">
                <!--  <div style="margin-left: auto; margin-right:auto;">
                  <ul class="nav nav-pills">
                  <li class="nav-item dropdown" style="text-align:center">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" 
                          aria-haspopup="true" aria-expanded="false" 
                          
                          style="border-style: none none none solid; border-width: 1px; border-color: #ffffff; background-color: #ed7203 ; color: #FFFFFF; text-align: center; font-size:16px; height:40px;">TRANSFERENCIAS</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#" onclick="Transferencia_EPS()">OPCION 2 EPS</a>
                      <a class="dropdown-item" href="#" onclick="Transferencia_Encuesta()">ENCUESTA</a>
                    </div>
                  </li>
                </ul>
                </div>
                <br /> -->


    <table style="width:1000px; margin-left: auto; margin-right:auto;">
        <tbody>
            <tr>
                <td>
                <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
                </td>
            </tr>
            
        </tbody>
    </table> 
<!-- <div class="off-canvas-overlay"></div> -->
    
 </form>
    <div>
        <asp:ContentPlaceHolder ID="FooterContent" runat="server"></asp:ContentPlaceHolder>
    </div>
</body>

<script runat="server">
    
    Protected Sub Page_Load(ByVal sender As Object, ByVal e As System.EventArgs) Handles Me.Load
        
        If Not EvoAPI.IsLoaded Then
            Message.ShowError("Las variables se han perdido por inactividad de la sesion. Puede reiniciar el argumentario pulsando el boton ""Inicio""")
        End If
        
    End Sub
    
</script>

</html>