/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/05/2022, 11:40:28 AM
    Author     : jvaldes
*/
divt {
    height: 65px;
    width: 100%;
   background-color: #00854fe6;
    display:flex;
    justify-content: center;
    align-items: center;
    color : white;
    font-family: 'Roboto', sans-serif;
    
}


h3{
font-weight: bold;
text-transform: uppercase;
    
}

label{
 font-weight: bold;
 font-family: 'Roboto', sans-serif;
}

@font-face{
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto');
}

td{
 font-weight: bold;
 font-family: 'Roboto', sans-serif;
 color: grey;
 border : 1px solid #00854fe6;
 width: 255.66px;
}
button, input[type=button],input[type=reset],input[type=submit] {
    width: 200px;
    height: 42px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 11px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #00854fe6;
    color: white;
    border-color: #00854fe6;
    font-family: 'Roboto', sans-serif;
}

th {
    text-align: center;
}






